<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mx.common.dao.ICommonDao">
    <resultMap id="SelectBeanResultMap" type="com.mx.common.pojo.SelectBean">
        <result column="text" property="text" jdbcType="VARCHAR"/>
        <result column="value" property="value" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="DictionaryResultMap" type="com.mx.generator.pojo.SysDictionary">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="value" property="value" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="enablef" property="enablef" jdbcType="TINYINT"/>
    </resultMap>

    <!-- 执行sql字符串 -->
    <update id="operateBySql" parameterType="String">
       ${_parameter}
    </update>

    <!-- 更新表格的deletef为1 -->
    <update id="updateDeletef" parameterType="map">
        UPDATE
          ${tableName}
        SET
          deletef = 1,
          update_user_id = #{updateUserId}
        WHERE
          id IN (${ids})
    </update>

    <!-- 删除表数据 -->
    <delete id="deleteRows" parameterType="map">
        DELETE FROM
          ${tableName}
        WHERE
          ${conditions}
    </delete>

    <!-- 获得select下拉列表 -->
    <select id="getSelectList" parameterType="map" resultMap="SelectBeanResultMap">
        SELECT
          ${text} AS text,
          ${value} AS value
        FROM
          ${tableName}
        <where>
            <if test="conditions != null and conditions != ''">
                ${conditions}
            </if>
        </where>
    </select>


    <!-- 获得字典值列表 -->
    <select id="getDictionaryListByType" resultMap="DictionaryResultMap">
        SELECT
        id,
        type,
        name,
        value,
        sort,
        enablef
        FROM
        sys_dictionary
        WHERE
        deletef = 0
        ORDER BY sort
    </select>
</mapper>