<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mx.common.dao.IFrameDao" >
    <resultMap id="BaseResultMap" type="com.mx.generator.pojo.SysUser">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="number" jdbcType="VARCHAR" property="number" />
        <result column="department_id" jdbcType="INTEGER" property="departmentId" />
        <result column="true_name" jdbcType="VARCHAR" property="trueName" />
        <result column="sex" jdbcType="TINYINT" property="sex" />
        <result column="mail" jdbcType="VARCHAR" property="mail" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    </resultMap>
  <select id="logining" resultMap="BaseResultMap" parameterType="map" >
    SELECT
        id,
        user_name
    FROM
        sys_user
    WHERE
        user_name = #{userName}
        AND password = #{password}
        AND deletef = 0
        AND enablef = 0
  </select>
  
</mapper>