
.error-msg,.empty-msg{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size:30px;
    color:#ccc;
    top:40%;
}

.bggreen{
    background: green;
}
.bgred{
    background: #e83c3c;
}
.bgblue{
    background: #428bca;
}
.bghui{
    background: #cccccc;
}
.bgpink{
    background: pink;
}


.input-block-level{font-weight: normal!important;}
.datagrid-column-menu div{display: flex; justify-content: space-between;}
.sui-btn-toolbar{padding:9px 0px!important;margin: 0px!important;text-align: right}
.height100{height:100%}
.sui-nav.nav-tabs.tab-navbar{width:100%!important}
.sui-nav.nav-tabs.tab-navbar li{position: relative}

.panel-block {height:100%;border:1px solid #ddd;margin-right:-15px}
.panel-block .title{font-size:14px;color:#222;font-weight:bolder;padding:10px;display: flex;justify-content: space-between;align-items: center}
.panel-block ul {margin:0;padding:0px;width:100%;}
.panel-block li{border-left: 3px solid #fff;display: flex;padding:0px 5px; justify-content: space-between;height: 40px;line-height: 40px;align-items: center;cursor: pointer}
.panel-block li a{width:100%;color:#222;text-decoration: none;}
.panel-block li.active,.panel-block li:hover{color:#222;text-decoration: none;background:#f5f5f5;}
.panel-block li i{font-size: 18px;margin-right: 8px;}
.panel-block li .fa-pencil-square-o:hover{color:#428bca;}
.panel-block li .fa-minus-circle:hover{color:red;}
.numbermark{line-height:20px;font-weight:normal;width:30px!important;height:20px;border-radius: 10px;text-align:center;background: #e83c3c;color:#fff;font-size:12px!important;}
.panel-block ul.info li{align-items: baseline;line-height: 32px;height: auto}
.search {padding: 0px 5px;font-size:12px!important;}
.search .block {margin-bottom:5px}

.tabletag{
    padding: 2px;color: white;
    border-radius: 2px;
}
.bggreen{background: green!important;}
.bgred{background: #e83c3c!important;}

/* 覆盖webupload式样 */
.webuploader-pick {
    padding: 2px 8px;
    color: #777;
    border: 1px solid #777;
    background: white;
    border-radius: 3px;
}
/* 头部式样 */
.size16 {font-size: 16px;}
.header-user ul {width: 220px;padding: 0px;border: 1px solid #d9e7f2;}
.header-user .header-user-msg {height: 100px;text-align: center;padding: 10px;color:rgba(255,255,255,0.8)}
.header-menu .dropdown-menu {background-color:#f3f8fc;width: 180px;padding: 0px;border: 1px solid #d9e7f2;}
.header-menu .dropdown-menu li a {margin-left: 25px;}
.header-menu .dropdown-menu li div {width: 25px;font-weight: bold;color: black;border-right: 1px solid #c7c3c3;position: absolute;}
.header-menu .dropdown-menu li {border-bottom: 1px solid #efeded;}
.header-list {text-align: center;width: 60px;}
.header-badge {border-radius: 5px;position: absolute;top: 4px;right: 12px;text-align: center;font-size: 9px;padding: 2px 3px;line-height: .9;background-color: #f39c12;}
.header-badge:empty {display: none;}
.header-list ul {width: 220px;height: 230px;padding: 0px;border: 1px solid #d9e7f2;background-color: #f3f8fc;}
.header-list .header-list-a a {border-bottom: 1px solid #efeded;overflow: hidden;padding: 4px 8px;text-overflow: ellipsis;}
.header-list .header-list-bottom{
    position: absolute;
    width: 100%;
    height: 25px;
    bottom: 0px;
    text-align: center;
    background-color: rgba(0,0,0,0.03);
    border-top: 1px solid #efeded;
    border-radius: 4px;
}
.header-list .header-list-a{overflow-y: auto; height: 205px;}
.header-list .header-list-bottom a{color: #777}
.header-list .header-list-bottom a:hover{color: black;}

.tabletag-prefix{
    padding: 3px;color: white;
    border-radius: 4px;
    font-size: 10px;
}
/* 消息已读 */
.message-read {
     color: #a2a2a2 !important;
}
.message-read .tabletag-prefix{
    background-color: #a2a2a2 !important;
    color: white;
}
.color-blue{
    color: #428bca;
}
