<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mx.generator.dao.CashVipRechargeMapper" >
  <resultMap id="BaseResultMap" type="com.mx.generator.pojo.CashVipRecharge" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="vip_id" property="vipId" jdbcType="INTEGER" />
    <result column="recharge_type" property="rechargeType" jdbcType="TINYINT" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="give_money" property="giveMoney" jdbcType="DECIMAL" />
    <result column="give_point" property="givePoint" jdbcType="DECIMAL" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="recharge_time" property="rechargeTime" jdbcType="TIMESTAMP" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
    <result column="add_user_id" property="addUserId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, vip_id, recharge_type, money, give_money, give_point, type, recharge_time, operator, 
    memo, update_user_id, add_user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cash_vip_recharge
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cash_vip_recharge
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mx.generator.pojo.CashVipRecharge" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cash_vip_recharge (vip_id, recharge_type, money, 
      give_money, give_point, type, 
      recharge_time, operator, memo, 
      update_user_id, add_user_id)
    values (#{vipId,jdbcType=INTEGER}, #{rechargeType,jdbcType=TINYINT}, #{money,jdbcType=DECIMAL}, 
      #{giveMoney,jdbcType=DECIMAL}, #{givePoint,jdbcType=DECIMAL}, #{type,jdbcType=TINYINT}, 
      #{rechargeTime,jdbcType=TIMESTAMP}, #{operator,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, 
      #{updateUserId,jdbcType=INTEGER}, #{addUserId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mx.generator.pojo.CashVipRecharge" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cash_vip_recharge
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="vipId != null" >
        vip_id,
      </if>
      <if test="rechargeType != null" >
        recharge_type,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="giveMoney != null" >
        give_money,
      </if>
      <if test="givePoint != null" >
        give_point,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="rechargeTime != null" >
        recharge_time,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="addUserId != null" >
        add_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="vipId != null" >
        #{vipId,jdbcType=INTEGER},
      </if>
      <if test="rechargeType != null" >
        #{rechargeType,jdbcType=TINYINT},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="giveMoney != null" >
        #{giveMoney,jdbcType=DECIMAL},
      </if>
      <if test="givePoint != null" >
        #{givePoint,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="rechargeTime != null" >
        #{rechargeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="addUserId != null" >
        #{addUserId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mx.generator.pojo.CashVipRecharge" >
    update cash_vip_recharge
    <set >
      <if test="vipId != null" >
        vip_id = #{vipId,jdbcType=INTEGER},
      </if>
      <if test="rechargeType != null" >
        recharge_type = #{rechargeType,jdbcType=TINYINT},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="giveMoney != null" >
        give_money = #{giveMoney,jdbcType=DECIMAL},
      </if>
      <if test="givePoint != null" >
        give_point = #{givePoint,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="rechargeTime != null" >
        recharge_time = #{rechargeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="addUserId != null" >
        add_user_id = #{addUserId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mx.generator.pojo.CashVipRecharge" >
    update cash_vip_recharge
    set vip_id = #{vipId,jdbcType=INTEGER},
      recharge_type = #{rechargeType,jdbcType=TINYINT},
      money = #{money,jdbcType=DECIMAL},
      give_money = #{giveMoney,jdbcType=DECIMAL},
      give_point = #{givePoint,jdbcType=DECIMAL},
      type = #{type,jdbcType=TINYINT},
      recharge_time = #{rechargeTime,jdbcType=TIMESTAMP},
      operator = #{operator,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      add_user_id = #{addUserId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>