<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mx.generator.dao.SysDepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.mx.generator.pojo.SysDepartment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="leader_user_id" property="leaderUserId" jdbcType="INTEGER" />
    <result column="enable" property="enable" jdbcType="TINYINT" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
    <result column="add_user_id" property="addUserId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, parent_id, leader_user_id, enable, memo, update_user_id, add_user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_department
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_department
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mx.generator.pojo.SysDepartment" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_department (name, parent_id, leader_user_id, 
      enable, memo, update_user_id, 
      add_user_id)
    values (#{name,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, #{leaderUserId,jdbcType=INTEGER}, 
      #{enable,jdbcType=TINYINT}, #{memo,jdbcType=VARCHAR}, #{updateUserId,jdbcType=INTEGER}, 
      #{addUserId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mx.generator.pojo.SysDepartment" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="leaderUserId != null" >
        leader_user_id,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="addUserId != null" >
        add_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="leaderUserId != null" >
        #{leaderUserId,jdbcType=INTEGER},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=TINYINT},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="addUserId != null" >
        #{addUserId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mx.generator.pojo.SysDepartment" >
    update sys_department
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="leaderUserId != null" >
        leader_user_id = #{leaderUserId,jdbcType=INTEGER},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=TINYINT},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="addUserId != null" >
        add_user_id = #{addUserId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mx.generator.pojo.SysDepartment" >
    update sys_department
    set name = #{name,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      leader_user_id = #{leaderUserId,jdbcType=INTEGER},
      enable = #{enable,jdbcType=TINYINT},
      memo = #{memo,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      add_user_id = #{addUserId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>